/* =========Basic Setup Start here==========  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

body{
    background-color: black;
    color: white;
}

/* =========Basic Setup end here==========  */

/* ==========Login Area Style==========  */
.Login_Area {
    padding: 40px 50px 70px 50px;
    border-radius: 10px;
    box-shadow: 0 0 1px #ffffff;
}

.Welcome_heading h1 {
    font-size: 40px;
    color: #28a745;
    font-weight: 300;
    letter-spacing: 3px;
    margin: 0 0 40px 0;
}
/* ==========Login Area Style==========  */


/* =========TransectionForm=========  */

#TransectionForm{
    display: none;
}

.status {
    background: #000;
    padding: 25px 40px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 1px #196a2c;
    margin: 20px 0;
}

.status h4 {
    font-size: 20px;
    letter-spacing: 2px;
}

.status h1 {
    font-size: 45px;
    color: #000000;
    margin: 15px 0;
}

.status h1 span {
    color: white;
    margin: 0 10px;
}

.Deposite {
    background: #16a1f4;
}

.Withdaw {
    background: #a42f2f;
}

.Total {
    background: #12605c;
}


#TransectionForm{
    margin: 0 0 100px 0;
}

.transection {
    background: black;
    box-shadow: 0 0 1px #1e7d34;
    padding: 20px 30px;
    border-radius: 10px;
}

.transection h1 {
    font-size: 25px;
    margin: 0 0 20px 0;
}

.transection input {
    margin: 10px 0 18px 0;
}
